<div ng-controller="UmbracoFido.CustomLoginController as vm">
    <div ng-if="vm.state !== 'backoffice'">
        <button class="btn btn-block btn-social" type="submit" ng-click="vm.handleSignInSubmit($event)" title="Sign in with FIDO">
            <i ng-class="vm.login.properties.Icon" class="fa fa-user"></i>
            <localize key="login_signInWith" class="ng-isolate-scope"></localize> FIDO
        </button>
        <umb-checkbox name="checkboxlist"
                      model="true"
                      text="Sign in with last authenticator used in this browser">
        </umb-checkbox>
    </div>
    <div ng-if="vm.state === 'backoffice'">
        <!--<form ng-submit="vm.submitRegisterFidoForm($event)"-->
        <form ng-submit="vm.openFidoOverlay()"
              method="POST"
              name="fidoRegisterForm" id="fidoRegisterForm">
            <umb-button type="submit"
                        button-style="action"
                        label-key="fido_registration"
                        icon="fa {{login.properties.SocialIcon}}">
            </umb-button>
        </form>
    </div>
</div>