bin/
obj/
.vs/
src/Our.Umbraco.Passless.TestSite-v10/App_Plugins/
src/Our.Umbraco.Passless.TestSite-v10/appsettings.Development.json
src/Our.Umbraco.Passless.TestSite-v10/umbraco/Data/
src/Our.Umbraco.Passless.TestSite-v10/umbraco/Logs/

src/Our.Umbraco.Passless.TestSite-v11/App_Plugins/
src/Our.Umbraco.Passless.TestSite-v11/umbraco/Data/
src/Our.Umbraco.Passless.TestSite-v11/umbraco/Logs/

src/Our.Umbraco.Passless/UI/node_modules/
src/Our.Umbraco.Passless/UI-V15/node_modules/

/src/Our.Umbraco.Passless/dist
/src/Our.Umbraco.Passless/wwroot/App_Plugins/
*.user
