.fido-credential { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
}

fido-signin, .btn-social>:first-child {
    top: 4px;
    left: 4px;
}

fido-signup, .btn-social>:first-child {
    top: 2px;
    left: 4px;
}

.fido-credential input {
    width: 100%;
}
.fido-button-wrap button {
    width: 80px
}

.loginForm {
    text-align: right;
}

.passlessLoginManagement{
    display: flex;
    justify-content: space-between;
}
