<div ng-controller="UmbracoPassless.CredentialsController as vm">
    <umb-editor-view>
        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-box>
                <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
                <umb-box-content ng-if="!vm.loading">
                    <div>
                        <h3>Registrations</h3>
                    </div>
                    <div>
                        <p>Here you can manage your Passless Authenticators</p>
                    </div>
                    <div class="fido-credentials">
                        <div ng-repeat="reg in vm.credentials.userCredentials">
                            <div class="fido-credential">
                                <span><umb-icon icon="icon-keychain"></umb-icon>  {{ reg.alias }}</span>
                                <umb-button
                                  type="button"
                                  button-style="danger"
                                  size="xxs"
                                  label="Delete"
                                  action="vm.deleteCredentials(reg)">
                                </umb-button>
                            </div>
                        </div>
                    </div>

                    <umb-button ng-if="vm.state === 'ready'"
                                type="button"
                                button-style="action"
                                label-key="fido_addDevice"
                                action="vm.addNewCredentials()">
                    </umb-button>
                    <div ng-if="vm.state === 'adding'" class="fido-credential">
                        <input type="text"
                               id="registration-alias"
                               placeholder="Alias of the authenticator"
                               umb-auto-focus
                               ng-model="vm.registrationAlias" />
                        <umb-button type="button"
                                    button-style="action"
                                    shortcut="enter"
                                    label="Add"
                                    size="xxs"
                                    action="vm.submitRegisterPasslessForm()">
                        </umb-button>
                    </div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>