<div ng-controller="UmbracoFido.RegistrationController as vm">
    <umb-editor-view>
        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        <umb-editor-container>
            <umb-box>
                <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
                <umb-box-content ng-if="!vm.loading">
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell"></div>
                            <div class="umb-table-cell">Key</div>
                        </div>
                    </div>
                    <div class="umb-table-body">
                        <div class="umb-table-row" ng-repeat="reg in vm.registrations.userCredentials">
                            <div class="umb-table-cell">

                            </div>
                            <div class="umb-table-cell">
                                {{ reg.credentialAlias }}
                            </div>
                        </div>
                    </div>

                    <umb-button ng-if="vm.state === 'ready'"
                                type="button"
                                button-style="action"
                                label-key="fido_addDevice"
                                shortcut="esc"
                                action="vm.addNewRegistration()">
                    </umb-button>
                    <div ng-if="vm.state === 'adding'">
                        <input type="text" id="registration-alias" ng-model="vm.registrationAlias" />
                        <button id="submit-button" ng-click="vm.submitTest()">Submit</button>
                    </div>

                    <form ng-submit="vm.submitRegisterFidoForm($event)"
                          method="POST"
                          name="fidoRegisterForm" id="fidoRegisterForm">
                        <umb-button type="submit"
                                    button-style="action"
                                    label-key="fido_addDevice"
                                    icon="fa {{login.properties.SocialIcon}}">
                        </umb-button>
                    </form>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="action"
                            label-key="general_submit"
                            action="vm.submit(model)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>